
<h2 align="center">Bookmark information</h2>


<%= form_for(@bookmark) do |f| %>



  <%= f.hidden_field :customer_id, :value => session[:member_id]%>

  <div class="field" align="center">
    <%= f.label :tour_id %>
    <%= select("bookmark", "tour_id", Tour.all.collect{ |c| [ c.name, c.id] }) %>
  </div>


  <% if @bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
        <% @bookmark.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br />
  <div class="actions" align="center">
    <%= f.submit "Bookmark" %>
  </div>


<% end %>
