<% if session[:state] == 'admin' || session[:state] == 'agent' %>

<head>
  <div class="loginheader" align="center">

    <button class="btn-success"><%= link_to 'Show Profile',agent_path(session[:member_id]), :style => 'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'Add a Tour', '/tours/new', :style =>'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'View all tours', '/tours', :style =>'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'Update/Delete your Tours',tour_options_path, method: :get , :style =>'text-decoration: none;'%></button>
    <br>

    <button class="btn-success"><%= link_to 'Add a Picture', '/agentoptions', :style =>'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'View all pictures', '/agentoptions', :style =>'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'Update/Delete your pictures', '/agentoptions', :style =>'text-decoration: none;'%></button>
    <br>

    <button class="btn-success"><%= link_to 'View bookmarks your tours', '/bookmarks', :style =>'text-decoration: none;'%></button>
    <br>

    <button class="btn-success"><%= link_to 'View bookings your tours', '/bookings', :style =>'text-decoration: none;'%></button>
    <br>

    <button class="btn-success"><%= link_to 'View reviews of your tour', '/reviews', :style =>'text-decoration: none;'%></button>
    <br>

    <button class="btn-success"><%= link_to 'Delete your account',agent_path(session[:member_id]), method: :delete, :style =>'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'Logout', logout_path(session[:member_id]), method: :delete, :style =>'text-decoration: none;'%></button>

  </div>
</head>
<body>


</body>

<% end %>