
<h2 align="center">Booking information</h2>
<p align="center">1) Fill 0 in waitlist if you dont want any number of seats in waitlist</p>
<p align="center">2) You have option to fill available seats and put remaining seats on waitlist</p>
<p align="center">2) You have option to put all seats required on waitlist if you wish to travel only as a group</p>

<%= form_for(@booking) do |f| %>



  <div class="field" align="center">
    <%= f.label "Number of seats required" %><br />
    <%= f.number_field :bseats %>
  </div>
  <br>

  <div class="field" align="center">
    <%= f.label "To be Wait-listed" %><br />
    <%= f.number_field :bwait_list %>
  </div>
  <br>


  <%= f.hidden_field :customer_id, :value => session[:member_id]%>

  <%= form.label :tour %>
  <%= select("booking", "tour_id", Tour.all.collect{ |c| [ c.name, c.id] }) %>


  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br />
  <div class="actions" align="center">
    <%= f.submit "Update" %>
  </div>


<% end %>
