<h1>Booking Options</h1>
<% if session[:state] == 'admin' || session[:state] == 'customer' %>
  <div class = "padding">

    <table>
      <tr>
        <th>S.No</th>
        <th>Tour Name</th>
        <th>Booked seats</th>
        <th>Booked waitlist</th>
        <th>Edit Booking</th>
        <th>Delete Booking</th>
      </tr>

      <% id=0 %>
      <% @bookings.each do |booking| %>
        <% if (session[:state] == 'customer' && session[:member_id] == booking.customer_id) || session[:state] == 'admin'%>
          <tr>
            <td><%= id+=1 %></td>
            <td><%= Tour.find(booking.tour_id).name %></td>
            <td><%= booking.bseats %></td>
            <td><%= booking.waitlist %></td>
            <td>
              <div class="btn btn-success">
                <%= link_to 'Edit', edit_booking_path(booking), :style =>'color:#FFFFFF;' %>
              </div>
            </td>
            <td>
              <div class="btn btn-success">
                <%= link_to 'Delete', booking_path(booking), method: :delete, :style =>'color:#FFFFFF;' %>
              </div>
            </td>
          </tr>
        <% end %>
      <%end %>
    </table>

  </div>



  <% if session[:state] == 'admin' %>

    <div class="btn btn-success ">
      <%= link_to 'Back', '/options' , :style =>'color:#FFFFFF;' %>
    </div>

  <%elsif session[:state] == 'customer'%>

    <div class="btn btn-success ">
      <%= link_to 'Back', '/customeroptions' , :style =>'color:#FFFFFF;' %>
    </div>

  <% end %>

<% end %>