<h1>Listing Bookings</h1>
<% if session[:state] != nil %>
  <div class = "padding">

    <table>
      <tr>
        <th>S.No</th>
        <th>Customer id</th>
        <th>Tour Name</th>
        <th>Booked seats</th>
        <th>Booked waitlist</th>
      </tr>

      <% id=0 %>
      <% @bookings.each do |booking| %>
        <% if (session[:state] == 'customer' && session[:member_id] == booking.customer_id) || session[:state] == 'admin' || (session[:state] == 'agent' && session[:member_id] == Tour.find(booking.tour_id).agent_id) %>
           <tr>
            <td><%= id+=1 %></td>
            <td><%= booking.customer_id %></td>
            <td><%= Tour.find(booking.tour_id).name %></td>
            <td><%= booking.bseats %></td>
            <td><%= booking.waitlist %></td>
           </tr>
        <% end %>
      <%end %>
    </table>

  </div>



  <div class="btn btn-success topcorner2">
    <%= link_to 'Back', '/customeroptions', :style =>'color:#FFFFFF;'%>
  </div>
<% end %>