<h1>Listing Bookings</h1>
<% if session[:state] != nil %>
  <div class = "padding">

    <table>
      <tr>
        <th>S.No</th>
        <th>Customer Name</th>
        <th>Tour Name</th>
        <th>Booked seats</th>
        <th>Booked waitlist</th>
      </tr>

      <% id=0 %>
      <% @bookings.each do |booking| %>
        <% if (session[:state] == 'customer' && session[:member_id].to_s == booking.customer_id) || session[:state] == 'admin' || (session[:state] == 'agent' && session[:member_id].to_s == Tour.find(booking.tour_id).agent_id) %>
           <tr>
            <td><%= id+=1 %></td>
            <td><%= Customer.find(booking.customer_id).name %></td>
            <td><%= Tour.find(booking.tour_id).name %></td>
            <td><%= booking.bseats %></td>
            <td><%= booking.bwait_list %></td>
           </tr>
        <% end %>
      <%end %>
    </table>

  </div>



  <% if session[:state] == 'admin' %>

    <div class="btn btn-success ">
      <%= link_to 'Back', '/options' , :style =>'color:#000000;' %>
    </div>

  <%elsif session[:state] == 'agent'%>

    <div class="btn btn-success ">
      <%= link_to 'Back', '/agentoptions' , :style =>'color:#000000;' %>
    </div>

  <%elsif session[:state] == 'customer'%>

    <div class="btn btn-success ">
      <%= link_to 'Back', '/customeroptions' , :style =>'color:#000000;' %>
    </div>

  <% end %>

<% end %>