<h1>Listing Customers</h1>

<% if session[:member_id]!=nil %>




<div class = "padding">

  <table>
    <tr>
      <th>S.No.</th>
      <th>Name</th>
      <th>Email ID</th>
      <% if session[:state] == 'admin' %>
        <th>Edit Profile</th>
        <th>Delete Profile</th>
      <% end %>
    </tr>

    <% id=0 %>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= id+=1 %></td>
        <td><%= customer.name %></td>
        <td><%= customer.email %></td>
        <% if session[:state] == 'admin' %>

          <td>
            <div class="btn btn-success">
              <%= link_to 'Edit', edit_customer_path(customer), :style =>'color:#FFFFFF;' %>
            </div>
          </td>
          <td>
            <div class="btn btn-success">
              <%= link_to 'Delete', customer_path(session[:member_id]), method: :delete, :style =>'color:#FFFFFF;' %>
            </div>
          </td>

        <% end %>
      </tr>
    <%end %>
  </table>

</div>


<% if session[:state] == 'admin' %>

  <div class="btn btn-success topcorner2">
    <%= link_to 'Back', '/options' , :style =>'color:#FFFFFF;' %>
  </div>

<%elsif session[:state] == 'customer'%>

  <div class="btn btn-success topcorner2">
    <%= link_to 'Back', '/customeroptions' , :style =>'color:#FFFFFF;' %>
  </div>

<%elsif session[:state] == 'customer'%>

  <div class="btn btn-success topcorner2">
    <%= link_to 'Back', '/customeroptions' , :style =>'color:#FFFFFF;' %>
  </div>

<% end %>

<% end %>