<h1>Listing Tours</h1>

<% if session[:member_id]!=nil %>

  <div class = "padding">

    <table>
      <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Booking Deadline</th>
        <th>From Date</th>
        <th>To date</th>
        <th>Starting Location.</th>
        <th>Itinerary</th>
        <th>Contact Agent Email</th>
        <th>Seats</th>
        <th>Waitlist</th>
        <th>Status</th>
        <th>Photos</th>
      </tr>

      <% id=0 %>
      <% @tours.each do |tour| %>
        <tr>
          <td><%= id+=1 %></td>
          <td><%= tour.name %></td>
          <td><%= tour.description %></td>
          <td><%= tour.price %></td>
          <td><%= tour.booking_deadline %></td>
          <td><%= tour.from_date %></td>
          <td><%= tour.to_date %></td>
          <td><%= tour.start_location %></td>
          <td><%= tour.itinerary %></td>
          <td><%= tour.contact_agent %></td>
          <td><%= tour.seats %></td>
          <td><%= tour.wait_list %></td>
          <td><%= tour.status %></td>

          <td>
            <div class="btn btn-success">
              <%= link_to 'View photos', '/tours', :style =>'color:#FFFFFF;' %>
            </div>
          </td>
        </tr>
      <%end %>
    </table>

  </div>


  <% if session[:state] == 'admin' %>

    <div class="btn btn-success ">
      <%= link_to 'Back', '/options' , :style =>'color:#000000;' %>
    </div>

  <%elsif session[:state] == 'agent'%>

    <div class="btn btn-success ">
      <%= link_to 'Back', '/agentoptions' , :style =>'color:#000000;' %>
    </div>

  <%elsif session[:state] == 'customer'%>

    <div class="btn btn-success ">
      <%= link_to 'Back', '/customeroptions' , :style =>'color:#000000;' %>
    </div>

  <% end %>

<% end %>