<h1>Listing Agents</h1>

<% if session[:member_id]!=nil %>




  <div class = "padding">

    <table>
      <tr>
        <th>S.No.</th>
        <th>Name</th>
        <th>Email ID</th>
        <% if session[:state] == 'admin' %>
          <th>Edit Profile</th>
          <th>Delete Profile</th>
        <% end %>
      </tr>

      <% id=0 %>
      <% @agents.each do |agent| %>
        <tr>
          <td><%= id+=1 %></td>
          <td><%= agent.name %></td>
          <td><%= agent.email %></td>
          <% if session[:state] == 'admin' %>

            <td>
              <div class="btn btn-success">
                <%= link_to 'Edit', edit_agent_path(agent), :style =>'color:#000000;' %>
              </div>
            </td>
            <td>
              <div class="btn btn-success">
                <%= link_to 'Delete', agent_path(session[:member_id]), method: :delete, :style =>'color:#000000;' %>
            </div>
            </td>

          <% end %>
        </tr>
      <%end %>
    </table>

  </div>


  <% if session[:state] == 'admin' %>

    <div class="btn btn-success topcorner2">
      <%= link_to 'Back', '/options' , :style =>'color:#000000;' %>
    </div>

  <%elsif session[:state] == 'agent'%>

    <div class="btn btn-success topcorner2">
      <%= link_to 'Back', '/agentoptions' , :style =>'color:#000000;' %>
    </div>

  <%elsif session[:state] == 'customer'%>

    <div class="btn btn-success topcorner2">
      <%= link_to 'Back', '/customeroptions' , :style =>'color:#000000;' %>
    </div>

  <% end %>

<% end %>