<p id="notice"><%= notice %></p>
<h2>Profile</h2>
<p>
  <b>Name:</b>
  <%= @agent.name %>
</p>

<p>
  <b>email:</b>
  <%= @agent.email %>
</p>

<div class="btn btn-success topcorner2">
  <%= link_to 'Back', '/agentoptions' , :style =>'color:#000000;' %>
</div>

<div class="btn btn-success ">
  <%= link_to 'Edit Profile', edit_agent_path(@agent) , :style =>'color:#000000;' %>
</div>


