<h3>Tour Search</h3>

<%= form_for @search, html: {class: "pure-form"} do |form| %>

  <div class="field">
    <%= form.label :location %>
    <%= form.select :start_location, options_for_select(@search), :include_blank => true %>
  </div>
<!--  <div class="field">-->
    <%#= form.label :min_cost, 'Price range min value (in dollars - whole numbers)' %>
    <%#= form.number_field :min_cost %>
<!--  </div>-->
<!--  <div class="field">-->
    <%#= form.label :max_cost, 'Price range max value (in dollars - whole numbers)' %>
    <%#= form.number_field :max_cost %>
<!--  </div>-->
  <div class="actions">
    <%= form.submit "Search" %>
  </div>
<% end %>
<br>
<%= link_to 'Back', home_index_path %>
