<% if session[:state] == 'admin' || session[:state] == 'customer' %>

<head>
  <div class="loginheader" align="center">
    <button class="btn-success"><%= link_to 'Show Profile',customer_path(session[:member_id]), :style => 'text-decoration: none;'%></button>
    <br>

    <button class="btn-success"><%= link_to 'Search available tours using filters', '/customeroptions', :style =>'text-decoration: none;'%></button>
    <br>

    <button class="btn-success"><%= link_to 'View tours', '/tours', :style =>'text-decoration: none;'%></button>
    <br>

    <button class="btn-success"><%= link_to 'View pictures of tours', '/customeroptions', :style =>'text-decoration: none;'%></button>
    <br>

    <button class="btn-success"><%= link_to 'Create a Booking', '/bookings/new', :style =>'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'View Bookings', '/bookings', :style =>'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'Edit/Delete Bookings', booking_options_path, method: :get , :style =>'text-decoration: none;'%></button>
    <br>

    <button class="btn-success"><%= link_to 'Create a Review', '/reviews/new', :style =>'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'View Reviews', '/reviews', :style =>'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'Edit/Delete Reviews', review_options_path, method: :get , :style =>'text-decoration: none;'%></button>
    <br>

    <button class="btn-success"><%= link_to 'Create a Bookmark', '/bookmarks/new', :style =>'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to ' Bookmarks ', '/bookmarks', :style =>'text-decoration: none;'%></button>
    <br>


    <button class="btn-success"> <%= link_to 'Delete your account', customer_path(session[:member_id]) , method: :delete, :style =>'text-decoration: none;' %> </button>
    <br>
    <button class="btn-success"><%= link_to 'Logout', logout_path(session[:member_id]), method: :delete, :style =>'text-decoration: none;'%></button>

  </div>

  <% if session[:state] == 'admin' %>
    <div class="btn btn-success ">
      <%= link_to 'Back', '/options' , :style =>'color:#000000;' %>
    </div>
  <% end %>

</head>
<body>


</body>

<% end %>