
<h2 align="center">Review Details</h2>
<%= form_for(@review) do |f| %>

  <%= f.hidden_field :customer_id, :value => session[:member_id]%>

  <div class="field" align="center">
    <%= f.label :tour %>
    <%= select("review", "tour_id", Tour.all.collect{ |c| [ c.name, c.id] }) %>
  </div>


  <div class="field" align="center">
    <%= f.label :subject %><br />
    <%= f.text_field :subject%>
  </div>
  <br>

  <div class="field" align="center">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </div>
  <br>


  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br />
  <div class="actions" align="center">
    <%= f.submit "Update Review" %>
  </div>


<% end %>
